<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/">
            <img class="navImg" src="img/tail.png" alt="image trex" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Général</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Dinosaures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Paléontologie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{{ path('app_about') }}">À propos</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light p-2 flex-shrink-1" href="/inscription">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light p-2 flex-shrink-1" href="/connexion">Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light p-2 flex-shrink-1" href="/deconnexion">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>