{% extends 'base.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Modifier commentaire</h1>

    {% if app.user %}

        {{ include('comment/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('comment/_delete_form.html.twig') }}

    {% endif %}
{% endblock %}
