{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Création d'un nouveau commentaire</h1>

    <div class="container log register">
        {{ include('comment/_form.html.twig') }}
    </div>



    <a class="btn btn-dark m-2" href="{{ path('app_comment_index') }}">Retour</a>
{% endblock %}
