@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Kufam:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Slackey&display=swap");

body {
    margin: 0;
    font-family: "Poiret One", sans-serif;
    background-image: url(/img/bg.png);
    background-size: cover;
}

.col_1 {width: 8.333333%;}
.col_2 {width: 16.666666%;}
.col_3 {width: 25%;}
.col_4 {width: 33.333333%;}
.col_5 {width: 41.666666%;}
.col_6 {width: 50%;}
.col_7 {width: 58.333333%;}
.col_8 {width: 66.666666%;}
.col_9 {width: 75%;}
.col_10 {width: 83.333333%;}
.col_11 {width:91.666666%;}
.col_12 {width: 100%;}

.multi-bg-example {
  background-image: url(/img/bgJurassik.jpg);
}

:root {
    --text-color: #fff;
    --color: #22471a;
    --bg-color: #2d2d2e;
    --first: #fff;
    --second: #000;
    --mob-color: #363636;
    --box-bg: #333;
    --clr-bg: #3e3e3e;
    --place-clr: #afafaf;
}

.margin {
  margin-top: 120px;
  margin-bottom: 120px;
}

h1 {
    color: rgb(55, 41, 32);
    font-family: "Kufam", sans-serif;
    /*background-color: rgba(139, 87, 19, 0.884);*/
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
}

.navImg {
    width: 60px;
}

.nav-item {
  color: #22471a;
  font-family: arial, sans-serif;
  margin: 0 6px;
  position: relative;
}

.nav-item:before {
  content: "";
  position: absolute;
  bottom: -6px;
  background-color: #22471a;
  height: 3px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  left: 0;
  transition: .3s;
}

.nav-item:not(.is-active):hover:before {
  bottom: 0;
}
/*
.nav-item:not(.is-active):hover {
  color: #608aac;
}
*/
.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  transition: .4s;
  border-radius: 8px 8px 0 0;
}

.log {
  width: 45%;
  padding: 65px;
}

.register {
  width: 45%;
    background-color: rgba(250, 247, 255, 0.486);
    min-height: 300px;
    border-radius: 30px;
}

.btnColor {
    background-color: #F2C94C;
    font-weight: bold;
    width: 15%;
}

.bgLight {
    background-color: rgba(242, 242, 242, 0.486);
    border-radius: 30px;
}

.colorIcons {
    color: #b39e29;
}

.iconDino {
  width: 45px;
  padding-right: 15px;
}

.footer-basic {
  padding: 25px 0;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #b39e29;
  margin: 0 8px;
  color: inherit;
  transition: 0.4s ease;
  opacity: 0.75;
}


.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size :13px;
  color: #aaa;
  margin-bottom: 0;
}

footer .social a:hover {
    background: var(--color);
    transform: translateY(-7px);
    box-shadow: 0 0 0.7rem var(--color);
}
