{% extends 'base.html.twig' %}

{% block title %}New Topic{% endblock %}

{% block body %}
    <h1>Création d'un nouveau sujet</h1>
    <div class="container log register">
        {{ include('topic/_form.html.twig') }}
        

        <a class="btn btn-dark mt-2" href="{{ path('app_topic_index') }}">Retour</a>
    </div>
{% endblock %}
