{% extends 'base.html.twig' %}


{% block body %}

<div class="container my-5">

{% if app.user %}
    <h1 class="mt-5">Bienvenue au Regisciens, {{ app.user.pseudo}}, Explorons ensemble ! </h1>
{% else %}
    <h1 class="mt-5">Bienvenue au Regisciens</h1>
{% endif %}

    <div class="container-fluid bgLight">
        <div class="row">
            <a href="#" class="btn btnColor m-5">Nouveau sujet</a>
            <h2 class="mt-5">Sujet récent :</h2>

            <div class="col_4 rounded border border-secondary">
                <h3>Ici un sujet</h3>
                <p>Ici nom de la personne qui a creer<p>
                <p>ici date</p>
            </div>

            <div class="col_4 rounded border border-secondary">
                <h3>Ici un autre sujet</h3>
                <hr class="trait"/>
                <p>Ici nom de la personne qui a creer</p>
                <p>Ici date</p>
            </div>

            <div class="col_4 rounded border border-secondary">
                <h3>Ici un autre sujet</h3>
                <hr class="trait"/>
                <p>Ici nom de la personne qui a creer</p>
                <p>Ici date</p>
            </div>

            <div class="col_4 rounded border border-secondary">
                <h3>Ici un autre sujet</h3>
                <hr class="trait"/>
                <p>Ici nom de la personne qui a creer</p>
                <p>Ici date</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}        

