{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <h1 class="mt-5">Bienvenue au Regisciens</h1>

    <div class="container-fluid bgLight">
        <div class="row">
            <a href="#" class="btn btnColor mt-5">Nouveau sujet</a>
            <h2>Sujet récent :</h2>
            <section class="row">
                <div class="col_6 rounded border border-secondary">
                    <h3>Ici un sujet</h3>
                    <p>Ici nom de la personne qui a creer<p>
                    <p>ici date</p>
                </div>
            </section>
            <section class="row">
                <div class="col_4 rounded border border-secondary">
                    <h3>Fresh fare</h3>
                    <hr class="trait"/>
                    <p>We started out with a quest for fresh game prepared in a delicate and natural way. It all began when our founder Emma Wilson came up with the idea that a great place to eat shouldn't be hard to find or hard to enjoy. Our deli fish is freshly caught under special laws and we work directly with animal protection and local farmers. We hope you enjoy the food from our kitchen to your plate. </p>
                    <p>All natural</p>
                </div>
            </section>
            <section>
                <h3>Local Distillation</h3>
                <hr class="trait"/>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, error nobis, consequuntur architecto sed, veritatis molestiae deleniti vel voluptatum delectus minus quisquam placeat libero illo ex illum. Quas, delectus blanditiis!</p>
                <p>Craft liquor</p>
            </section>
        </div>
    </div>
</div>

{% endblock %}        

